<!DOCTYPE html>
<html lang="{{ lang | default('pt-BR') }}">

<head>
    {% include "partials/head.njk" %}
</head>

<body>
    {% include "partials/navbar.njk" %}

    <main id="conteudo">
    {{ content | safe }}
    </main>

    {% if simpleFooter %}
    {% include "partials/footer-simple.njk" %}
    {% else %}
    {% include "partials/footer.njk" %}
    {% endif %}
    {% include "partials/mobile-menu.njk" %}
    {% if site.flags.whatsappContact %}{% include "partials/whatsapp-float.njk" %}{% endif %}
    {% include "partials/scripts.njk" %}
</body>

</html>
