---
layout: layouts/docs-hub.njk
permalink: /docs/index.html
lang: pt-BR
langCode: pt
title: Documentacao - PraticOS
description: Documentacao completa do sistema PraticOS. Guias, tutoriais e referencias para aproveitar ao maximo o sistema.
keywords: praticos, documentacao, manual, guia, tutorial
indexPage: ../
faqLink: ../faq.html
supportLink: ../support.html
langSwitch:
  - code: PT
    href: index.html
    active: true
  - code: EN
    href: index-en.html
  - code: ES
    href: index-es.html
relPath: ../
---
