---
layout: layouts/docs-hub.njk
permalink: /docs/index-es.html
lang: es
langCode: es
title: Documentacion - PraticOS
description: Documentacion completa del sistema PraticOS. Guias, tutoriales y referencias para aprovechar al maximo el sistema.
keywords: praticos, documentacion, manual, guia, tutorial
indexPage: ../index-es.html
faqLink: ../faq-es.html
supportLink: ../support-es.html
langSwitch:
  - code: PT
    href: index.html
  - code: EN
    href: index-en.html
  - code: ES
    href: index-es.html
    active: true
relPath: ../
---
