---
layout: layouts/docs-hub.njk
permalink: /docs/index-en.html
lang: en
langCode: en
title: Documentation - PraticOS
description: Complete PraticOS system documentation. Guides, tutorials and references to get the most out of the system.
keywords: praticos, documentation, manual, guide, tutorial
indexPage: ../index-en.html
faqLink: ../faq-en.html
supportLink: ../support-en.html
langSwitch:
  - code: PT
    href: index.html
  - code: EN
    href: index-en.html
    active: true
  - code: ES
    href: index-es.html
relPath: ../
---
