---
layout: layouts/faq.njk
permalink: /faq-en.html
lang: en
langCode: en
title: FAQ - PraticOS
description: Frequently asked questions about PraticOS.
indexPage: index-en.html
langSwitch:
  - code: PT
    href: faq.html
  - code: EN
    href: faq-en.html
    active: true
  - code: ES
    href: faq-es.html
relPath: ./
---
