---
layout: layouts/faq.njk
permalink: /faq-es.html
lang: es
langCode: es
title: FAQ - PraticOS
description: Preguntas frecuentes sobre PraticOS.
indexPage: index-es.html
langSwitch:
  - code: PT
    href: faq.html
  - code: EN
    href: faq-en.html
  - code: ES
    href: faq-es.html
    active: true
relPath: ./
---
