---
layout: layouts/faq.njk
permalink: /faq.html
lang: pt-BR
langCode: pt
title: FAQ - PráticOS
description: Perguntas frequentes sobre o PráticOS. Encontre respostas para suas dúvidas.
indexPage: index.html
langSwitch:
  - code: PT
    href: faq.html
    active: true
  - code: EN
    href: faq-en.html
  - code: ES
    href: faq-es.html
relPath: ./
---
