---
layout: layouts/legal.njk
permalink: /privacy-en.html
lang: en
langCode: en
pageStyles: content
pageType: privacy
title: PraticOS Privacy Policy
description: What data the PraticOS app collects, how it’s used and shared, how it’s protected, and how to contact us about privacy requests.
indexPage: index-en.html
simpleFooter: true
langSwitch:
  - code: PT
    href: privacy.html
  - code: EN
    href: privacy-en.html
    active: true
  - code: ES
    href: privacy-es.html
relPath: ./
---
