---
layout: layouts/legal.njk
permalink: /privacy.html
lang: pt-BR
langCode: pt
pageType: privacy
title: Política de Privacidade - PráticOS
description: Política de privacidade do PráticOS. Saiba como tratamos seus dados.
indexPage: ./
langSwitch:
  - code: PT
    href: privacy.html
    active: true
  - code: EN
    href: privacy-en.html
  - code: ES
    href: privacy-es.html
relPath: ./
---
