---
layout: layouts/legal.njk
permalink: /privacy-es.html
lang: es
langCode: es
pageType: privacy
title: Política de Privacidad - PraticOS
description: Política de privacidad de PraticOS. Conozca cómo manejamos sus datos.
indexPage: index-es.html
simpleFooter: true
langSwitch:
  - code: PT
    href: privacy.html
  - code: EN
    href: privacy-en.html
  - code: ES
    href: privacy-es.html
    active: true
relPath: ./
---
