---
layout: layouts/legal.njk
permalink: /privacy-en.html
lang: en
langCode: en
pageType: privacy
title: Privacy Policy - PraticOS
description: PraticOS Privacy Policy. Learn how we handle your data.
indexPage: index-en.html
simpleFooter: true
langSwitch:
  - code: PT
    href: privacy.html
  - code: EN
    href: privacy-en.html
    active: true
  - code: ES
    href: privacy-es.html
relPath: ./
---
