---
layout: layouts/support.njk
permalink: /support-es.html
lang: es
langCode: es
title: Soporte - PraticOS
description: Centro de soporte de PraticOS. Obtenga ayuda, envíe comentarios y obtenga respuestas a sus preguntas.
indexPage: index-es.html
faqLink: faq-es.html
supportStyles: true
langSwitch:
  - code: PT
    href: support.html
  - code: EN
    href: support-en.html
  - code: ES
    href: support-es.html
    active: true
relPath: ./
---
