---
layout: layouts/support.njk
permalink: /support.html
lang: pt-BR
langCode: pt
title: Suporte - PráticOS
description: Central de suporte do PráticOS. Obtenha ajuda, envie feedback e tire suas dúvidas.
indexPage: ./
faqLink: faq.html
supportStyles: true
langSwitch:
  - code: PT
    href: support.html
    active: true
  - code: EN
    href: support-en.html
  - code: ES
    href: support-es.html
relPath: ./
---
