---
layout: layouts/support.njk
permalink: /support-en.html
lang: en
langCode: en
title: Support - PraticOS
description: PraticOS support center. Get help, send feedback and get your questions answered.
indexPage: index-en.html
faqLink: faq-en.html
supportStyles: true
langSwitch:
  - code: PT
    href: support.html
  - code: EN
    href: support-en.html
    active: true
  - code: ES
    href: support-es.html
relPath: ./
---
