---
layout: layouts/legal.njk
permalink: /terms-es.html
lang: es
langCode: es
pageType: terms
title: Términos de Uso - PraticOS
description: Términos de uso de PraticOS.
indexPage: index-es.html
langSwitch:
  - code: PT
    href: terms.html
  - code: EN
    href: terms-en.html
  - code: ES
    href: terms-es.html
    active: true
relPath: ./
---
