---
layout: layouts/legal.njk
permalink: /terms-en.html
lang: en
langCode: en
pageStyles: content
pageType: terms
title: PraticOS Terms of Use
description: "Conditions for using the PraticOS app: license, disclaimers and limitations, data and privacy, governing law and contact."
indexPage: index-en.html
langSwitch:
  - code: PT
    href: terms.html
  - code: EN
    href: terms-en.html
    active: true
  - code: ES
    href: terms-es.html
relPath: ./
---
