---
layout: layouts/legal.njk
permalink: /terms.html
lang: pt-BR
langCode: pt
pageType: terms
title: Termos de Uso - PráticOS
description: Termos de uso do PráticOS.
indexPage: index.html
langSwitch:
  - code: PT
    href: terms.html
    active: true
  - code: EN
    href: terms-en.html
  - code: ES
    href: terms-es.html
relPath: ./
---
