---
layout: layouts/legal.njk
permalink: /terms-en.html
lang: en
langCode: en
pageType: terms
title: Terms of Use - PraticOS
description: PraticOS Terms of Use.
indexPage: index-en.html
langSwitch:
  - code: PT
    href: terms.html
  - code: EN
    href: terms-en.html
    active: true
  - code: ES
    href: terms-es.html
relPath: ./
---
