{# Key facts as definition rows. Expects `features` = [{ title, description }]; legacy icon/color are ignored. #}
<dl class="doc-dl">
    {% for feature in features %}
    <div>
        <dt>{{ feature.title }}</dt>
        <dd>{{ feature.description | safe }}</dd>
    </div>
    {% endfor %}
</dl>
