{# Metrics as definition rows. Expects `metrics` = [{ title, description }]; legacy icon/color are ignored. #}
<dl class="doc-dl">
    {% for metric in metrics %}
    <div>
        <dt>{{ metric.title }}</dt>
        <dd>{{ metric.description | safe }}</dd>
    </div>
    {% endfor %}
</dl>
