{# Options / rules as definition rows. Expects `items` = [{ label?, text }]. #}
<dl class="doc-dl">
    {% for item in items %}
    <div>
        <dt>{{ item.label }}</dt>
        <dd>{{ item.text | safe }}</dd>
    </div>
    {% endfor %}
</dl>
