---
layout: layouts/segment.njk
segmentStyles: true
permalink: segmentos/bicicletaria-en.html
segmentSlug: bicicletaria
langCode: en
lang: en
relPath: "../"
title: Bike Shop Management System | PraticOS
description: Stop losing control of your shop! Work order system for bike shops with bicycle history, intake checklist and financial control. Get organized in 5 minutes.
keywords: bike shop software, bicycle repair shop management, work order system bike shop, bike repair app, bicycle workshop software
ogTitle: Bike Shop Management System | PraticOS
ogDescription: Stop losing control! WO system with bicycle history, intake checklist and financial control. Get organized in 5 minutes.
indexPage: index-en.html
langSwitch:
  - code: PT
    href: bicicletaria.html
    active: false
  - code: EN
    href: bicicletaria-en.html
    active: true
  - code: ES
    href: bicicletaria-es.html
    active: false
---
