---
layout: layouts/segment.njk
segmentStyles: true
permalink: segmentos/informatica-es.html
segmentSlug: informatica
langCode: es
lang: es
relPath: "../"
title: Sistema para Asistencia Tecnica de Informatica | PraticOS
description: ¡Basta de perder equipos y plazos! Sistema de OS para asistencia tecnica de informatica con fotos, numero de serie y link de seguimiento. Organiza tu tienda en 5 minutos.
keywords: sistema asistencia tecnica informatica, app tecnico informatica, programa orden servicio computador, control OS informatica, software asistencia tecnica gratis
ogTitle: Sistema para Asistencia Tecnica de Informatica | PraticOS
ogDescription: ¡Basta de perder equipos! Sistema de OS con fotos, numero de serie y link de seguimiento. Organiza tu asistencia en 5 minutos.
indexPage: index-es.html
langSwitch:
  - code: PT
    href: informatica.html
    active: false
  - code: EN
    href: informatica-en.html
    active: false
  - code: ES
    href: informatica-es.html
    active: true
---
