---
layout: layouts/segment.njk
segmentStyles: true
permalink: segmentos/informatica.html
segmentSlug: informatica
langCode: pt
lang: pt-BR
relPath: "../"
title: Sistema para Assistencia Tecnica de Informatica | PraticOS
description: Chega de perder equipamentos e prazos! Sistema de OS para assistencia tecnica de informatica com fotos, numero de serie e link de acompanhamento. Organize sua loja em 5 minutos.
keywords: sistema para assistencia tecnica informatica, app para tecnico de informatica, programa ordem de servico computador, controle de OS informatica, software assistencia tecnica gratis
ogTitle: Sistema para Assistencia Tecnica de Informatica | PraticOS
ogDescription: Chega de perder equipamentos! Sistema de OS com fotos, numero de serie e link de acompanhamento. Organize sua assistencia em 5 minutos.
indexPage: ./
langSwitch:
  - code: PT
    href: informatica.html
    active: true
  - code: EN
    href: informatica-en.html
    active: false
  - code: ES
    href: informatica-es.html
    active: false
---
