name: Code Quality

on:
  push:
    branches: [ "**" ]
    paths:
      - 'lib/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'

jobs:
  analyze:
    name: Flutter Analyze
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Flutter Analyze
        run: flutter analyze
